<div class="random">
    <div class="head center">
        <h1>Random Collection</h1>
    </div>
    <div class="explore-con"  >
        <div class="item1" *ngFor="let foto of fotos">
            <img [src]="foto.url">
            <div class="overlay">
                <div class="layer">
                    <div class="row">
                        <div class="col-6">
                            <span class="layer-usernme"><i class="fas fa-camera"></i>&nbsp;&nbsp;@{{foto.uploadBy}}</span>
                        </div>
                        <div class="col-3 layer-usernme"><i class="fas fa-bookmark"></i><span class="layer-font">&nbsp;{{foto.download}}</span></div>
                        <div class="col-3 layer-usernme"><i class="fab fa-gratipay"></i><span class="layer-font"> &nbsp;{{foto.likes}}</span></div>
                    </div>
                </div>
            </div>
        </div>
              	
    </div>
</div>
