<div class="random">
    <div class="head center">
        <h1>Random Collection</h1>
    </div>
    <div class="explore-con">
        <div class="item1">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg">
            <div class="overlay">
                <div class="layer">
                    <div class="row">
                        <div class="col-6">
                            <span class="layer-usernme"><i class="fas fa-camera"></i>&nbsp;&nbsp;@itsmeshc</span>
                        </div>
                        <div class="col-3 layer-usernme"><i class="fas fa-bookmark"></i><span class="layer-font">&nbsp;210</span></div>
                        <div class="col-3 layer-usernme"><i class="fab fa-gratipay"></i><span class="layer-font"> &nbsp;101</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item2">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150)">
        </div>
        <div class="item1">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152)">
        </div>
        <div class="item2">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42)">
        </div>
        <div class="item1">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40)">
        </div>
        <div class="item2">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148)">
        </div>	
    </div>
</div>
