<footer>
    <div class="container-fluid">
        <div class="top-head center">
            <h2 class="margin0">fotofilic</h2>
        </div>
        <div class="footer-ls center">
            <ul class="margin0 padding0">
                <li><a href="#">About us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Feedback us</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="copy center">
            <span class="sp">&copy; Copyright 2k18 <span class="sp1">fotofilic.</span></span>
        </div>
    </div>
</footer>