<div class="container-fluid padding0">
  <div class="about-content">
    <div class="about-wrap">
      <div class="about">
        <div class="about-heading">
          <h2>About fotofilic</h2>
        </div>
        <p> Tired of searching images all over the internet and finding nothing at last?<br>
          We understand you, because we've been there and that's the reason we are introducing you to this amazing application, fotofilic (foto or images loving). Search the image you want, get lots of varieties,categories, swipe to explore, double tap to save. <br>
          Yes, it's that simple.<br>
          Thats why we say <b>Select category, Slide and Double tap to download</b>.<br>
          So, use this web application and save some of your precious time in finding pictures!
          Users can free download the fotos , Anyone is allowed to use, modify and share the fotos freely.<br> 
          </p>
        </div>
    </div>
  </div>
</div>
