@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

.padding0{
    padding: 0;
}

.margin0{
    margin: 0;
}

.center{
    text-align: center;
}  

.about{
    height: auto;
    width: 100%;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}

.about-body{
    background: #262626;
    overflow: hidden;
}

.pattern{
    padding: 100px 0;
    background: #edff57;
    transform: skew(0,-20deg) translateY(-125px);
}

.about-content{
    padding: 140px 200px;
    transform: skew(0,20deg);
    font-family: 'Kite One', sans-serif;
    
    h1{
        font-weight: bold;
    }

    p{
        padding-top: 40px;
        font-size: 18px;
    }
}

.about-profile{
    background: #262626;
    color: #fff;
}

.pattern2{
    padding:0;
    background: #262626;
    transform: skew(-15deg,0) translateX(-125px);
}

.image-section{
    background: url(https://cdn.pixabay.com/photo/2015/01/08/18/30/entrepreneur-593372_960_720.jpg);
    height: 600px;
    width: 100%;

    .overlay{
        background: rgba(245,81,95,0.3);
        height: 100%;
        width: 100%;
    }
}

.content-section{
    padding: 150px 50px;

    h2{
        display: inline;
        background: rgb(245,81,95);
        padding: 5px;
        font-size: 16px;
    }

    .info-list{
        margin-top: 15px;
    }

    .info{
        margin-left: 20px;
    }

    p{
        margin-top: 20px;
    }
}


