<mdb-navbar SideClass="navbar fixed-top">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">fotofilic</a>
        <div class="nav-button">
            <button class="btn">Explore</button>
        </div>
        <ul class="nav-list">
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li class="nav-bars" id="barshow" (click)=modalShow()><i class="fas fa-bars"></i></li>
        </ul>
    </mdb-navbar-brand>
</mdb-navbar>

    <div class="modal" id="modal">
        <div class="modal-body">
            <div class="modal-heading">
                <h3>Select Category</h3>
            </div>
            <div class="modal-hide">
                <span class="closebtn" id="modal-hide" (click)=modalhide()><i class="fas fa-times"></i></span>
            </div>
            <div class="modal-categ">
                <ul class="row padding0">
                    <div class="col-sm-4">
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                    </div>
                    <div class="col-sm-4">
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                    </div>
                    <div class="col-sm-4">
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                        <li><a href="">Trending</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
