<div class="about-team">
  <div class="container-fluid">
    <div class="row">
      <div class="about-overlay">
        <div class="about-team-heading">
            <h1>Team fotofilic</h1>
        </div>
        <div class="col-sm-12 padding0">
          <div class="row">
            <Div class="col-sm-12">
              <p>lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsumlorem lipsumlorem lipsum lorem lipsum lorem lipsum lorem lipsumlorem lipsum 
                  lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum lorem lipsum
                  lorem lipsum
                  lorem lipsum
                  lorem lipsum
              </p>
            </Div>
          </div>
          <div class="about-profile-card">
            <div class="profile-card-foto">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding0">
        <div class="about-profile-card">
          <div class="profile-card-foto">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
