.slider{
    border: 1px solid #e2e2e2;
    height: auto;
    width: 100%;
    background: #fff;
    position: relative;
}

.padding0{
    padding: 0;
}

.margin0{
    margin: 0;
}

.center{
    text-align: center;
}

.heading-slider{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kite One', sans-serif;
}

.slider-head{
    height: auto;
    padding:10px;
    background: #fff;
    color: #515457;
    border-bottom: 1px solid #e2e2e2;
}