<div class="top">

        <div class="top-head center">
            <h2 class="fam">Images of the week</h2>
			<h3 class="fam"> Top 3 Images of the week</h3>
        </div>
        <div class="top-fotos">
            <div class="f1">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" class="t-img" (click)=modalshow()>
                <div class="r1 center">
                    <img src="assets/images/rank/1st-prize-trophy.jpg" class="r-img" id="show-img">
                </div>
            </div>
            <div class="f1">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" class="t-img">
                <div class="r1 center">
                    <img src="assets/images/rank/second-prize-trophy.jpg" class="r-img">
                </div>
            </div>
            <div class="f1">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="t-img">
                <div class="r1 center">
                    <img src="assets/images/rank/third-prize-trophy.jpg" class="r-img">
                </div>
            </div>
        </div>
</div>

<div class="modal" id="modal-img">
    <div class="modal-body">
        <div class="modal-hide">
            <span class="closebtn" id="modal-hide" (click)=modalhide()><i class="fas fa-times"></i></span>
        </div>
        <div class="modal-img">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" class="t-img">
        </div>
    </div>
</div>
